body {
  color: rgb(255, 199, 167);
  font-family: Helvetica, sans-serif;
  background-image: url("../img/Fall.jpeg");
  background-color: rgb(240, 123, 69);
  background-size: auto;
  background-position: relative;
  text-align: left;
  font-size: larger;
  margin: 0 auto;
}

ol li {
  margin-top: 1rem;
}

ul li {
  margin-top: 0;
}

a {
  color: rgb(255, 143, 79);
}

a:link:hover,
a:visited:hover {
  color: rgb(252, 95, 5);
}

a:visited {
  color: rgb(209, 82, 9);
}

.heading {
  display: flex;
  flex-direction: row;
}

.header-image {
  margin: 2rem;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  z-index: 100;
}

.header-text {
  margin: 4rem 4rem 4rem -5rem;
  background-color: rgba(61, 61, 61);
  width: 100%;
  z-index: 1;
  padding: 1.5rem 0 0.75rem 4.5rem;
  border-radius: 0 1rem 1rem 0;
}

.box-styles {
  margin: 12px;
  background-color: rgba(61, 61, 61, 0.972);
  padding: 30px;
  border-radius: 10px;
}

.coffee {
  width: 12rem;
  border-radius: 50%;
  margin-top: -5rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  margin-top: 0.3rem;
  margin-left: 11rem;
}

.box-styles p:last-of-type {
  margin-bottom: 3rem;
}

footer {
  background-color: rgb(61, 61, 61);
  font-size: medium;
  color: rgba(255, 199, 167, 0.705);
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
}
