body {
  color: rgb(255, 199, 167);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../img/Fall.jpeg");
  background-color: rgb(61, 61, 61);
  text-align: center;
  font-size: larger;
  max-width: 1500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 40%;
  height: auto;
  background-size: contain;
}

ol {
  text-align: left;
}

a {
  color: rgb(255, 143, 79);
}

a:hover {
  color: rgb(252, 95, 5);
}

a:visited {
  color: rgb(209, 79, 4);
}

.justify p {
  text-align: justify;
}

.heading {
  /* margin: 2rem; */
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
}

.header-image {
  margin: 2rem;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
}

.header-text {
  margin: 4rem 4rem 4rem -5rem;
  background-color: rgba(61, 61, 61);
  text-align: left;
  width: 100%;
  z-index: -100;
  padding: 1.5rem 0 0.75rem 4.5rem;
  border-radius: 0 1rem 1rem 0;
}

.box-styles {
  margin: 12px;
  background-color: rgba(61, 61, 61, 0.911);
  padding: 30px;
  border-radius: 10px;
}

.box-styles img {
  width: 300px;
  margin: 3px;
  width: 300px;
}
